

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

/* Header */

.jumbotron {
  text-align: center;
  color:/* white;*//*#252523;*//*#a39274;*//*white;*//*orange;*//*white;*/black;
  border-radius: 0;
  border-bottom: 10px solid /*black;*/rgb(112, 128, 152);
  /*background-color:  /*#AAF0D1/* #4cb69f;*/ /*#43BFC7;*/
  /*#5f9ea0;*//*grey;*//*#43BFC7;*//*#0000ff;*/
  background: linear-gradient(99.6deg, rgb(112, 128, 152) 10.6%, rgb(242, 227, 234) 32.9%, rgb(234, 202, 213) 52.7%, rgb(220, 227, 239) 72.8%, rgb(185, 205, 227) 81.1%, rgb(154, 180, 212) 102.4%);
}

button#delete-schedule {
  margin-top: 10px;
  background: rgb(154, 180, 212);
}

/* Time Block Elements */

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid/* white;*/rgb(112, 128, 152);
}

.hour {
  padding: 10px;
  text-align: right;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-top: 1px dashed #000000;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Color coding for event blocks */

.past {
  background-color: #d4d4dc;    /* #EDE8BA; /* #d3d3d3;*/
  color: black;
}

.present {
  background-color:  #ff6961;
  color: black;
}

.future {
  background-color: #F9E076;/*#77dd77;*/
  color: black;
}

/* Save button */

.saveBtn {
  font-size: 1.5em;
  border-left: 1px solid black;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: /*#1d1e22; */ #43BFC7;    /* #d4d4dc; */     /*#393f4d;*/       /* #06AED5;*/
  color: white;
}

.saveBtn i:hover {
  color: rgb(31, 30, 30);
  transition: all .3s ease-in-out;
}

.saveBtn:focus {
  outline: none;
}
